<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="utf-8">
	<title> Products-CMPE-282 Cloud Services </title>
	<link type="text/css" rel="stylesheet" href="../assets/css/bootstrap.css"/>
</head>


<body>
<img src="../assets/img/cloudServices1.jpg" class="span2" />
<div class="container">
	<h1><a href="#">CMPE 282 Cloud Services</a></h1>
		<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li class="span2"><a href="../view/products.html">CMPE282.com</a></li>
					<li class="active span6"></li>
					<li class="span2"><a href="#"> My Cart </a></li> <!-- Sign In -->
                    <li><a href="#"> Sign Out </a></li>
                  </ul>
                </div>
              </div>
            </div>
</div>	
<div>
<ul class="nav nav-list span3">
    <li class="nav-header">What we sell?</li>
    <!--  <li class="active"><a href="#">What we sell?</a></li> -->
    <li><a href="#">Computers & Tablets</a></li>
    <li><a href="#">Games</a></li>
    <li><a href="#">Movies & Music</a></li>
    <!--  <li><a href="#">Contact Us</a></li>  -->
    <li class="nav-header">Join Us</li>
    <li><a href="#">Google+</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Pinterest</a></li>
    <li><a href="#">My Space</a></li>
</ul>
	
</div>
<!--  Displaying general two items from each department here.-->
<!--  On clicking a department will change the products displayed here. Use span8 -->

<table border="0">
	<tr>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6304/6304013.jpg height="100" width="100"> <br />
   				Harry Potter for Kinect - Xbox 360 <br /> 
				Price :  49.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1218727 <br />
			</td>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6304/6304064_rc.jpg height="100" width="100"> <br />
   				Mega Man Anniversary Collection - PlayStation 2 <br /> 
				Price :  24.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1075621868 <br />
			</td>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6304/6304947.jpg height="100" width="100"> <br />
   				Ultimate Codes: Baldur's Gate: Dark Alliance II - PlayStation 2 <br /> 
				Price :  4.99 <br /> 
				Category :  Games <br /> 
				Product-id : 107558580 <br />
			</td>
	</tr>
	<tr>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6306/6306749.jpg height="100" width="100"> <br />
   				Sonic Heroes (Game Guide) - Xbox, PlayStation 2, Nintendo GameCube <br /> 
				Price :  14.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1075583634 <br />
			</td>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6300/6300022.jpg height="100" width="100"> <br />
   				WOW Worship: Red - Various - CD <br /> 
				Price :  8.99 <br /> 
				Category :  Movies and Music <br /> 
				Product-id : 1351751 <br />
			</td>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6304/6304019.jpg height="100" width="100"> <br />
   				Saturday Night Speedway - PlayStation 2 <br /> 
				Price :  4.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1075583621 <br />
			</td>
	</tr>
	<tr>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6300/6300139.jpg height="100" width="100"> <br />
   				WWE: John Cena - Wordlife - DVD <br /> 
				Price :  6.99 <br /> 
				Category :  Movies and Music <br /> 
				Product-id : 1351247 <br />
			</td>
			<td width="300" align="center">
				<img src=http://ecx.images-amazon.com/images/I/61Z2sXctnLL._SL1500_.jpg height="100" width="100"> <br />
   				Acer C720 Chromebook (11.6-Inch, 2GB) <br /> 
				Price :  199.99 <br /> 
				Category :  Computers and Tablets <br /> 
				Product-id : 1349620 <br />
			</td>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6300/6300068.jpg height="100" width="100"> <br />
   				Andrew Dice Clay: Dice Rules! - Uncut - DVD <br /> 
				Price :  13.99 <br /> 
				Category :  Movies and Music <br /> 
				Product-id : 43125 <br />
			</td>
	</tr>
	<tr>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6300/6300077.jpg height="100" width="100"> <br />
   				ATexhnolyze, Vol. 1: Inhumane &amp; Beautiful - Widescreen Collector's Limited - DVD <br /> 
				Price :  34.99 <br /> 
				Category :  Movies and Music <br /> 
				Product-id : 43125 <br />
			</td>
			<td width="300" align="center">
				<img src=http://images.bestbuy.com/BestBuy_US/images/products/6049/6049527.jpg height="100" width="100"> <br />
   				Sailor Moon S 3: TV Series [Subtitles] - Subtitle - DVD <br /> 
				Price :  14.99 <br /> 
				Category :  Movies and Music <br /> 
				Product-id : 1353253 <br />
			</td>
	</tr>
</table>

<!-- Product Display ends here -->
<!-- Footer starts here -->


</div>
</body>
</html>