<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="utf-8">
	<title> Products-CMPE-282 Cloud Services </title>
	<link type="text/css" rel="stylesheet" href="../assets/css/bootstrap.css"/>
</head>


<body>
<img src="../assets/img/cloudServices1.jpg" class="span2" />
<div class="container">
	<h1><a href="#">CMPE 282 Cloud Services</a></h1>
		<div class="navbar">
              <div class="navbar-inner">
                <div class="container">
                  <ul class="nav">
                    <li class="span2"><a href="../view/products_home.html">CMPE282.com</a></li>
					<li class="active span6"></li>
					<li class="span2"><a href="#"> My Cart </a></li> <!-- Sign In -->
                    <li><a href="#"> Sign Out </a></li>
                  </ul>
                </div>
              </div>
            </div>
</div>	
<div>
<ul class="nav nav-list span3">
    <li class="nav-header">What we sell?</li>
    <!--  <li class="active"><a href="#">What we sell?</a></li> -->
    <li><a href="#">Computers & Tablets</a></li>
    <li><a href="#">Games</a></li>
    <li><a href="#">Movies & Music</a></li>
    <!--  <li><a href="#">Contact Us</a></li>  -->
    <li class="nav-header">Join Us</li>
    <li><a href="#">Google+</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Pinterest</a></li>
    <li><a href="#">My Space</a></li>
</ul>
	
</div>
<!--  Displaying general two items from each department here.-->
<!--  On clicking a department will change the products displayed here. Use span8 -->

<table border="0">
	<tr>
			<td width="300" align="center">
				<a href="/CloudServices/rest/users/product/1218727"> <img src=http://images.bestbuy.com/BestBuy_US/images/products/6304/6304013.jpg height="100" width="100"> </a> <br /> 
				<a href="/CloudServices/rest/users/product/1218727"> Harry Potter for Kinect - Xbox 360 </a> <br /> 
				Price :  49.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1218727 <br />
			</td>
			<td width="300" align="center">
				<a href="/CloudServices/rest/users/product/1075621868"> <img src=http://images.bestbuy.com/BestBuy_US/images/products/6304/6304064_rc.jpg height="100" width="100"> </a> <br /> 
				<a href="/CloudServices/rest/users/product/1075621868"> Mega Man Anniversary Collection - PlayStation 2 </a> <br /> 
				Price :  24.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1075621868 <br />
			</td>
			<td width="300" align="center">
				<a href="/CloudServices/rest/users/product/107558580"> <img src=http://images.bestbuy.com/BestBuy_US/images/products/6304/6304947.jpg height="100" width="100"> </a> <br /> 
				<a href="/CloudServices/rest/users/product/107558580"> Ultimate Codes: Baldur's Gate: Dark Alliance II - PlayStation 2 </a> <br /> 
				Price :  4.99 <br /> 
				Category :  Games <br /> 
				Product-id : 107558580 <br />
			</td>
	</tr>
	<tr>
			<td width="300" align="center">
				<a href="/CloudServices/rest/users/product/1075583634"> <img src=http://images.bestbuy.com/BestBuy_US/images/products/6306/6306749.jpg height="100" width="100"> </a> <br /> 
				<a href="/CloudServices/rest/users/product/1075583634"> Sonic Heroes (Game Guide) - Xbox, PlayStation 2, Nintendo GameCube </a> <br /> 
				Price :  14.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1075583634 <br />
			</td>
			<td width="300" align="center">
				<a href="/CloudServices/rest/users/product/1075583621"> <img src=http://images.bestbuy.com/BestBuy_US/images/products/6304/6304019.jpg height="100" width="100"> </a> <br /> 
				<a href="/CloudServices/rest/users/product/1075583621"> Saturday Night Speedway - PlayStation 2 </a> <br /> 
				Price :  4.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1075583621 <br />
			</td>
			<td width="300" align="center">
				<a href="/CloudServices/rest/users/product/1349685"> <img src=http://ecx.images-amazon.com/images/I/51bKxmfRvRL.jpg height="100" width="100"> </a> <br /> 
				<a href="/CloudServices/rest/users/product/1349685"> ASUS Transformer Book T100TA-C1-GR 10.1-Inch Detachable 2 in 1 Touchscreen Laptop </a> <br /> 
				Price :  471.99 <br /> 
				Category :  Games <br /> 
				Product-id : 1349685 <br />
			</td>
	</tr>
</table>

<!-- Product Display ends here -->
<!-- Footer starts here -->


</div>
</body>
</html>